.radios,
.playlists {
  margin: 14px 0 10px 10px; }
  .radios .title,
  .playlists .title {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px; }
  .radios .list,
  .playlists .list {
    display: flex;
    flex-wrap: wrap; }
    .radios .list .list-item,
    .playlists .list .list-item {
      flex: 1;
      flex-basis: 40%;
      font-size: 14px;
      background: #fff;
      margin-right: 10px;
      margin-bottom: 10px; }
      .radios .list .list-item .list-media,
      .playlists .list .list-item .list-media {
        position: relative; }
      .radios .list .list-item .list-title,
      .playlists .list .list-item .list-title {
        padding: 0 5px;
        height: 36px;
        margin: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis; }
      .radios .list .list-item .icon,
      .playlists .list .list-item .icon {
        background-image: url("../images/icon-play.png");
        background-repeat: no-repeat;
        background-size: 24px 60px; }
      .radios .list .list-item .icon-play,
      .playlists .list .list-item .icon-play {
        height: 24px;
        width: 24px;
        bottom: 5px;
        right: 5px;
        position: absolute;
        background-position: 0 0; }
      .radios .list .list-item img,
      .playlists .list .list-item img {
        display: block;
        width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2 {
  margin: 0;
  font-weight: normal; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header h1 {
    display: none; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .qq-slider-wrap {
    display: flex;
    transition: .3s; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a img {
        width: 100%;
        display: block; }

.navbar .nav-list {
  display: flex;
  align-items: center; }
  .navbar .nav-list .nav-item {
    flex: 1;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    height: 40px; }
    .navbar .nav-list .nav-item.active {
      color: #31c27c; }
    .navbar .nav-list .nav-item.active::after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #31c27c; }

.hide {
  display: none; }

body {
  background: #f4f4f4; }
