.navbar {
    .nav-list {
        display: flex;
        align-items: center;

        .nav-item {
            flex: 1;
            text-align: center;
            position: relative;
            cursor: pointer;
            color: $nav-item-color;
            line-height: $nav-item-height;
            height: $nav-item-height;

            &.active {
                color: $nav-item-active;
            }

            &.active::after {
                position: absolute;
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background: $nav-item-active;
            }
        }
    }
}