@import "var";
@import "rec";
@import "reset";
@import "header";
@import "slider";
@import "navbar";
@import "helpers";
@import "rank";
@import "search";
@import "player";

body {
    background: $body-background;
    font-family: FZLTXIHJW--GB1-0, "hiragino sans gb", "Helvetica Neue", Helvetica, STHeiTi, Arial;
}

html, body{
    height: 100%;
}

.noscroll{
    overflow: hidden;
}